<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form name="postingForm" class="form-horizontal" novalidate focusable-form>
                <div class="form-group">
                    <label for="inputTitle"><h3>Title</h3></label>
                    <input 
                        ng-model-options="{updateOn: 'blur'}"
                        ng-model="newPosting.title" 
                        type="text" 
                        class="form-control" 
                        placeholder="Post Title"
                        name="postTitleName"
                        id="postTitle">
                    <div ng-repeat="message in titleErrorMessages">
                        <h4 style="color: red">{{message}}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label for="prices"><h3>Price Range</h3></label>
                    <p>You may enter either a minimum or maximum price, or both. Entering only a minimum price will result in a price advertised as Starting at $X (ex. Starting at $10). Entering only a maximum price will advertise a flat rate (ex. $10). Entering both a minimum and maximum will advertise a range (ex. $5 - $10).</p>
                    <div id="priceForm">
                        <input 
                            ng-model-options="{updateOn: 'blur'}"
                            ng-model="newPosting.priceLow" 
                            type="text" 
                            class="form-control"
                            placeholder="Minimum Price"
                            name="postLowPriceName"
                            id="inputPriceLow">
                        <input 
                            ng-model-options="{updateOn: 'blur'}"
                            ng-model="newPosting.priceHigh" 
                            type="text" 
                            class="form-control" 
                            placeholder="Maximum Price"
                            name="postHighPriceName"
                            id="inputPriceHigh">
                        <div ng-repeat="message in priceErrorMessages">
                            <h4 style="color: red">{{message}}</h4>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description"><h3>Description</h3></label> 
                    <textArea 
                        ng-model-options="{updateOn: 'blur'}"
                        ng-model="newPosting.description" 
                        type="text" 
                        class="form-control" 
                        placeholder="Describe your post here..."                    
                        id="postDescription"
                        rows="4">
                    </textArea>
                    <div ng-repeat="message in descriptionErrorMessages">
                        <h4 style="color: red">{{message}}</h4>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label><h3>Category</h3></label>
                    <select ng-model="newPosting.category" ng-options="category as category for category in categoryOptions"></select>
                </div> -->
                <div class="text-center">
                    <br/>
                    <button ng-disabled="!allInputValidated" ng-click="submitForm()" type="submit" class="btn-block btn-primary">Create Post</button>
                    <br/>
                    <br/>
                </div>
            </form>
        </div> 
    </div>    
</div>
