<sessionheader></sessionheader>
  <md-content class="md-padding" layout="row" style="padding-bottom: 100px">
      <div flex-md flex-gt-md="50" layout="column">
          <div layout="row">
              <md-input-container flex="80" class="md-icon-float md-block" style="margin-bottom: 0">
                  <!-- Use floating label instead of placeholder -->
                  <input type="text" placeholder="Enter something you need help with">
              </md-input-container>
              <md-button layout-align="end" flex="auto" ng-click="toggleLeft()"><b class="orange-text">Categories</b></md-button>
          </div>
          <md-card>
              <md-card-title>
                  <md-card-title-text>
                      <span class="md-headline">Painting Nails and Manicure</span>
                      <span class="md-subhead">Price: $4.00</span>
                      <div layout="row" layout-align="start end">
                          <md-button>
                              <span class="glyphicon glyphicon-heart icon-action"></span>
                          </md-button>
                          <md-button>
                              <span class="glyphicon glyphicon-comment icon-action"></span>
                          </md-button>
                      </div>
                  </md-card-title-text>
                  <md-card-title-media>
                       <div class="md-media-md card-media">
                          <img src="../images/nailsSquare.jpg" alt="nails" />
                      </div>
                  </md-card-title-media>
              </md-card-title>
          </md-card>
      </div>
      <div flex-md flex-gt-md="50" layout="column">
          <div layout="row">
              <md-input-container flex="80" class="md-icon-float md-block" style="margin-bottom: 0">
                  <!-- Use floating label instead of placeholder -->
                  <input type="text" placeholder="Enter something you need help with">
              </md-input-container>
              <md-button layout-align="end" flex="auto" ng-click="toggleLeft()"><b class="orange-text">Categories</b></md-button>
          </div>
          <md-card>
              <md-card-title>
                  <md-card-title-text>
                      <span class="md-headline">Painting Nails and Manicure</span>
                      <span class="md-subhead">Price: $4.00</span>
                      <div layout="row" layout-align="start end">
                          <md-button>
                              <span class="glyphicon glyphicon-heart icon-action"></span>
                          </md-button>
                          <md-button>
                              <span class="glyphicon glyphicon-comment icon-action"></span>
                          </md-button>
                      </div>
                  </md-card-title-text>
                  <md-card-title-media>
                       <div class="md-media-md card-media">
                          <img src="../images/nailsSquare.jpg" alt="nails" />
                      </div>
                  </md-card-title-media>
              </md-card-title>
          </md-card>
      </div>
  </md-content>
<loungefooter></loungefooter>
