<div id="dashboard-container">
    <div class="half-container">
        <div>
            <div class="heading heading-4">
                <p>Profile<span style="font-size: .8em" class="glyphicon glyphicon-user"></span></p>
            </div>

            <div class="heading heading-8">
                <p>Relevant Search</p>
            </div>
        </div>
        <div class="results">
            <div class="result">
                <div class="result-heading">
                    <div class="result-image-div">
                        <div class="result-image">
                            <img src="../images/profile.jpg" >
                        </div>
                    </div>
                    <div class="result-info">
                        <h3>ntw9049</h3>
                        <p>1:56pm</p>
                    </div>
                </div>
                <div class="result-content">
                    <h1>Help with my chem homework yada yada yada break everything plz dont actually</h1>
                    <h2 class="payment">Payment: $0.00</h2>
                </div>
            </div>
            <div class="result">
                <div class="result-heading">
                    <div class="result-image-div">
                        <div class="result-image">
                            <img src="../images/profile.jpg" >
                        </div>
                    </div>
                    <div class="result-info">
                        <h3>ntw9049</h3>
                        <p>1:56pm</p>
                    </div>
                </div>
                <div class="result-content">
                    <h1>Willing to work with elderly people</h1>
                    <h2 class="fee">Fee: $2.00</h2>
                </div>
            </div>
            <div class="result">
                <div class="result-heading">
                    <div class="result-image-div">
                        <div class="result-image">
                            <img src="../images/profile.jpg" >
                        </div>
                    </div>
                    <div class="result-info">
                        <h3>ntw9049</h3>
                        <p>1:56pm</p>
                    </div>
                </div>
                <div class="result-content">
                    <h1>I'd like someone to make me macaroni salad plz</h1>
                    <h2 class="payment">Payment: $1.00</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="half-container">
        <div class="col-6">
            <div class="heading heading-12">
                <p>Askers</p>
            </div>
            <div class="results">
                <div class="result">
                    <div class="result-content">
                        <h1>Drive me to the airport</h1>
                        <h2 class="payment">Payment: $5.00</h2>
                    </div>
                </div>
                <div class="result">
                    <div class="result-content">
                        <h1>Help me with math homework</h1>
                        <h2 class="payment">Payment: $5.00</h2>
                    </div>
                </div>
                <div class="result">
                    <div class="result-content">
                        <h1>Be my butler</h1>
                        <h2 class="payment">Payment: $5.00</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="heading heading-12">
                <p>Helpers</p>
            </div>
            <div class="results">
                <div class="result">
                    <div class="result-content">
                        <h1>Taxi services</h1>
                        <h2 class="fee">Fee: $5.00</h2>
                    </div>
                </div>
                <div class="result">
                    <div class="result-content">
                        <h1>I'm good with homework</h1>
                        <h2 class="fee">Fee: $5.00</h2>
                    </div>
                </div>
                <div class="result">
                    <div class="result-content">
                        <h1>I'm a butler</h1>
                        <h2 class="fee">Fee: $5.00</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<loungefooter></loungefooter>
