<sessionheader></sessionheader>
</br>
</br>
</br>
<div class="container-fluid">
  <div class="row text-center">

    <div class="panel panel-default back-panel">

      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h1>Search</h1></div>
          <div class="panel-body fixed-panel">
            <h3>Know exactly what you're looking for? Lets find it!</h3>
            <input class="control-xl"></input><a href=""> <i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default"> 
          <div class="panel-heading"><h1>Ask</h1></div>
          <div class="panel-body fixed-panel">
            <h3>Can't find what you're looking for? Just ask!</h3>
            <button class="btn btn-primary control-xl">Ask</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h1>Categories</h1></div>
          <div class="panel-body fixed-panel">
            <h3>Not sure what exactly you're looking for? Bored? Curious as to what you're peers can do?</h3>
            <button class="btn btn-primary control-xl">Browse</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h1>Home</h1></div>
          <div class="panel-body fixed-panel">
            <h3>View and edit your profile and create postings.</h3>
            <button class="btn btn-primary control-xl">Home</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<loungefooter></loungefooter>
