<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Categories</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../styles/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../styles/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../styles/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../styles/categories.css" type="text/css">

</head>

<body id="page-top">

    <section class="no-padding" id="portfolio">
        <div class="fullscreen">
        <div class="container-fluid">
            <div class="row no-gutter">

                <!--Fix It-->
                <div class="col-xs-6 col-xs-6">
                    <a href="#" class="portfolio-box">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">

                                <div class="project-name">
                                    Fix It
                                </div>

                                <div class="project-category text-faded">
                                    Need something fixed?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!--Hand Made-->
                <div class="col-xs-6 col-xs-6">
                    <a href="#" class="portfolio-box">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">

                                <div class="project-name">
                                    Hand Made
                                </div>

                                <div class="project-category text-faded">

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!--Ask-->
                <div class="col-xs-6 col-xs-6">
                    <a href="#" class="portfolio-box">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">

                                <div class="project-name">
                                    Ask
                                </div>
                                <div class="project-category">
                                    Got a question in mind?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!--Housing-->
                <div class="col-xs-6 col-xs-6">
                    <a href="#" class="portfolio-box">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">

                                <div class="project-name">
                                    Housing
                                </div>
                                <div class="project-category text-faded">
                                    Looking for a new place?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!--Tutoring-->
                <div class="col-xs-6 col-xs-6">
                    <a href="#" class="portfolio-box">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">

                                <div class="project-name">
                                    Tutoring
                                </div>
                                <div class="project-category text-faded">
                                    Need tutoring services?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!--Rides-->
                <div class="col-xs-6 col-xs-6">
                    <a href="#" class="portfolio-box">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">

                                <div class="project-name">
                                    Rides
                                </div>
                                <div class="project-category text-faded">
                                    Need a ride to the store?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        </div>
    </section>


    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/jquery.fittext.js"></script>
    <script src="../js/wow.min.js"></script>


</body>

</html>
