<nav md-colors="{background: 'primary-700'}">
	<div class="container-fluid">
    <md-nav-bar
        <md-selected-nav-item="currentNavItem"
        		nav-bar-aria-label="navigation links"
            class="navbar-right">
        <md-list-item md-colors="{background: 'primary-700'}">
            <label ng-if="loggedIn" class="navbar-brand" style="vertical-align: middle">Welcome to The Lounge {{userData.userName}}!</label>
            <label ng-if="!loggedIn" class="navbar-brand">Welcome to The Lounge at RIT!</label>
        </md-list-item>
        <span flex></span>
            <md-nav-item md-nav-click="profile()" ng-if="loggedIn">
							<div md-colors="{background: 'primary-700'}">
                User Profile
							</div>
            </md-nav-item>
            <!-- needs to have md-nav-click function otherwise will not display -->
            <md-nav-item md-nav-click="dashboard()" ng-if="loggedIn">
							<div md-colors="{background: 'primary-700'}">
                Dashboard
							</div>
            </md-nav-item>
            <!-- needs to have md-nav-click function otherwise will not display -->
            <md-nav-item md-nav-click="createPost()" ng-if="loggedIn">
							<div md-colors="{background: 'primary-700'}">
                Create Post
							</div>
            </md-nav-item>
            <!-- needs to have md-nav-click function otherwise will not display -->
            <md-nav-item md-nav-click="homepage()">
							<div md-colors="{background: 'primary-700'}">
                Home Page
							</div>
            </md-nav-item>
            <!-- needs to have md-nav-click function otherwise will not display -->
            <md-nav-item md-nav-click="categories()">
							<div md-colors="{background: 'primary-700'}">
                Categories
							</div>
            </md-nav-item>
            <md-nav-item ng-if="!loggedIn" md-nav-click="login()">
							<div md-colors="{background: 'primary-700'}">
                Login
							</div>
            </md-nav-item>
            <md-nav-item ng-if="loggedIn" md-nav-click="logout()">
							<div md-colors="{background: 'primary-700'}">
                Logout
							</div>
            </md-nav-item>
    </md-nav-bar>
  </div>
</nav>
