{
  "env": {
    "browser": false,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
    "Category": false,
    "User": false,
    "Posting": false,
    "sails": false
  }
}
