.create-posting-background {
  background: url(../images/create-posting-background.jpg) no-repeat center center fixed;
  background-size: 100%;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  overflow: auto;
}

.create-posting-button {

}

.create-posting-category-dropdown {
  width: 30vw;
}

.create-posting-error-msg {
  color:red;
  margin-top:0px;
  margin-bottom:0px;
}

.create-posting-description {
  height: auto;
}

.create-posting-card {
  border-radius: 4px;
}

md-input-container label {
  padding-bottom: .3vh;
}
