.login-background {
  background: url(../images/login-background.jpg) no-repeat center center fixed;
  background-size: 100%;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  overflow: auto;
}

.login-card {
  position: relative;
  top: 2vh;
}
